


#p1 {
    font-weight: 400;
}

#p2, #p3 {
    font-weight: 500;
}

#p4 {
    font-size: 18px;
    max-width: 75%;
}







im {
    max-width: 90%;
    height: auto;
    
}






#carousalOne {
    height: 500px;
}















